body{
    background-color:#ffffff ;
    font-size: 1.1 em;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
 }
 header {
    background-image: linear-gradient(to top,   #e2805c, #fd8f68,  #fd8f68,  #fd8f68);
    color: #f8f3ec;
    border: #743c27;
    text-align: center;
    padding: 8px;
    min-width: 700px;
    max-width: 100%;
}
footer{
    background-image: linear-gradient(#a03e3e,   #b84949,   #b84949);
    color:#f8f3ec;
    padding: 8px;
    min-width: 700px;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    font-size: 0.9em;
}
main {
    background-image: linear-gradient(to right,  #e7c492, #f8e9d4,
      #f8e9d4, #f8e9d4, #f8e9d4,  #e7c492);
    color: #2f1004;
    margin: 24px;
    padding: 16px;
    min-width: 600px; /*define a largura mínima de um elemento*/
    display: flex;
}
h1{
    text-align: center;
    font-size: 2.5em;
    color: #722a0e;
    text-shadow:rgba(50, 50, 50, 0.77) 2px 2px 2px;
    font-weight: bold;
    animation: mudanca_cor 10s linear infinite;
    
}
nav{
    margin-top: 30px;
    
}
ul {
    width: 100%;
    height: 2em;
}
nav ul{
    padding-left: 0px;
}

ul > li {
    display: inline;
    border: 3px solid brown;
    padding: 10px;
    margin: 6px;
    background-color: #b84949;
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.77);


}
li :link{
    color: #f8e9d4;
}
li :visited {
    text-decoration:none;
    color: #ebc794;
}
li :hover{
    color: yellow;
    font-size: 1.2em;
    cursor: pointer;
}

h2{
    color: #50200e;
    text-align: center;
    font-size: 2em;
}

h3{
    color: #e27046;
    text-align: right;
    font-size: 1.3em;
}

img{
    width: 10 em;
   /*float: center;*/
   margin-left: 20px;
   margin-right: auto;
   border: 3px solid #e4d2b9;
   -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.77);
   -moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.77);
   box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.77);
}

aside {
    background-color: #f8e9d4;
    color: #2f1004;
    margin: 24px;
    padding: 16px;
    min-width: 100px;
    max-width: 25%;
    float: right;
    margin-right: auto;
}
span > img {
    height: 20px;
    margin: 0px;}
.nome{
    text-align: right;
    font-weight: bold;
    color: brown;
    padding-right: 10px;
    padding-top:6px;
    width: 200px;
}

.estilo-tabela {
    /*border: 3px, dashed brown; /*teste que não deu certo*/
    /*box-align: center; teste que não deu certo*/
    max-width: 800px;
    width: 80%;
    min-width: 500px;
    /*display: block;  teste que não deu certo*/
    /*justify-content: center;teste que não deu certo*/
    /*align-items: center;teste que não deu certo*/
    margin-left: auto;
    margin-right: auto;
    border-spacing: 8px;
}


.top img {
    align: center; /*nao deu certo*/
}
.centro {
    display: flex;
    justify-content: center;
}
footer > p{
    margin-left: 20px;
    text-decoration:none;
}
#appearance-select{
    font-size: 1.2em;
    background-color: #f8e9d4;
    padding: 5px;
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.77);
}

#botao{
    font-size: 1.2em;
    background-color: #dabd95;
    padding: 5px;
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.77);}
}
#botao{
    font-size: 1.2em;
    background-color: #dabd95;
    padding: 5px;
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.77);
    box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.77);
}
    
@keyframes mudanca_cor {
    0%{ color:#722a0e;}
    50%{color: #a13131; }
    100%{ color:#722a0e; }
}
